body {
    background: linear-gradient(rgb(250, 244, 229), rgb(253, 226, 158));
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    row-gap: 80px;
}

/* Styling for the name card at the top of the page */
.name-card { 
    display: flex;
    background-color: blanchedalmond;
    border-style: ridge;
    border-color: brown;
    border-radius: 16px;
    box-shadow: 2px 5px 7px black;
    width: 960px;
}

.name-card-text {
    flex-grow: 1;
}

.links * {
    list-style-type: none;
    vertical-align: middle;
}

.name-card-text > h1 {
    text-align: center;
}

.headshot {
    margin-left: auto;
}

.headshot > img {
    width: 150px;
    margin: 16px;
    border-radius: 16px;
}

/* Styling for the main page content */
.content-card {
    display: flex;
    flex-direction: column;
}

.content-card-body {
    background-color: blanchedalmond;
    border-style: ridge;
    border-color: brown;
    border-radius: 16px;
    padding: 30px;
    box-shadow: 2px 5px 7px black;
    width: 960px;
}

.navigation-tabs > ol {
    display: flex;
    flex-direction: row;
    padding: 0;
    list-style-type: none;
    gap: 10px;
    margin-bottom:-3px;
    overflow: hidden;
    position: relative;
    left: 20px;
}

.navigation-tabs li {
    background-color: blanchedalmond;
    border-style: ridge;
    border-color: brown;
    /* border-bottom: none; */
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 2px 5px 7px black;
    
    clip: rect(auto, auto, auto, auto);
    width: 160px;
    z-index: 1;
}

.navigation-tabs .active-tab {
    border-bottom: none;
}

.navigation-tabs li > a, .navigation-tabs li > a:visited {
    color: black;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 100%;
}

.canvas-container {
    margin: 30px;
}

.navigation-tabs li:hover {
    background-color: rgb(252, 201, 61);
}

.content-card-body ul {
    padding: 0px;
    margin-top: 60px;
}

.content-card-body li {
    display: flex;
}

.content-card-body li > a, .content-card-body li > a:visited {
    display: flex;
    flex-direction: row;
    color: black;
    text-decoration: none;
    width: 100%;
}

.project-dates {
    text-align: center;
}

.project-card {
    background-color: rgb(253, 217, 163);
    border-style: ridge;
    border-color: rgb(95, 64, 23);
    border-radius: 16px;
    padding: 30px;
    box-shadow: 2px 5px 7px black;
    display: flex;
    flex-direction: row;
}

.content-card-body li:hover .project-card {
    background-color: rgb(252, 201, 61);
}

.project-dates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.project-text {
    flex-grow: 1;
    margin-left: 45px;
}

.project-text h1 {
    text-align: center;
}

.project-page-project-title div {
    text-align: center;
}

.space-combat-embedded-gifs {
    justify-content: center;
}

.space-combat-embedded-gifs * {
    margin: 15px;
}

.embedded-video {
    display: flex;
    justify-content: center;
}
